<?xml version="1.0" encoding="utf-8" ?>
<config>
    <simplefactory>A</simplefactory>
    <factorymethod>designpattern.factorymethod.ConcreteFactory</factorymethod>
    <abstractfactory>designpattern.abstractfactory.ConcreteFactory1</abstractfactory>
    <builder>designpattern.builder.ConcreteBuilder</builder>
    <proxy>designpattern.proxy.Proxy</proxy>
    <strategy>designpattern.strategy.ConcreteStrategy</strategy>
    <template>designpattern.template.ConcreteClass</template>
    <bridge.abstraction>designpattern.bridge.RefinedAbstraction</bridge.abstraction>
    <bridge.implementor>designpattern.bridge.ConcreteImplementorA</bridge.implementor>
    <adapter>designpattern.adapter.Adapter</adapter>
    <facade>designpattern.facade.ConcreteFacade1</facade>
    <command>designpattern.command.ConcreteCommand</command>
</config>