<?xml version="1.0" encoding="utf-8" ?>
<config>
    <simplefactory>A</simplefactory>
    <factorymethod>designpattern.factorymethod.ConcreteFactory</factorymethod>
    <abstractfactory>designpattern.abstractfactory.ConcreteFactory1</abstractfactory>
    <builder>designpattern.builder.ConcreteBuilder</builder>
    <proxy>designpattern.proxy.Proxy</proxy>
</config>